

.style-my-col{

    min-height: 40px;
    padding: 10px 0;
    text-align: center;

}

.my-col-small{

    height: 40px;
}
.my-col-big{

    min-height: 80px;
}
.my-row{

    margin: 10px 0;
    
}

.blue{

    background-color:#006CFA ;
    border: 1px solid white;
}

.green{

    background-color: #00E165;
    border: 1px solid #006CFA;
}

.my-row.nested{

    padding: 0 10px;
}

.my-col-small.center{

    align-self: center;
}

.my-col-small.bottom{

    align-self: end;
}

.space-around{

    justify-content: space-around;
}

.space-between{

    justify-content: space-between;
    padding: 0 10px;
}